extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7 
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in lorem mollis, varius ipsum ut, viverra turpis. Phasellus ut dui euismod, tempor augue ut, vestibulum quam. Integer scelerisque placerat feugiat. Fusce quis tortor rutrum, gravida ligula et, scelerisque neque. Curabitur placerat, tortor sed maximus auctor, leo nisi finibus diam, vitae fermentum metus purus vitae sem. Sed finibus feugiat quam, in euismod turpis tempor a. Vestibulum vel dapibus elit. Maecenas eu erat vitae dolor porta imperdiet non consectetur orci. Nulla sagittis neque a neque ullamcorper, vel sollicitudin ante commodo. 

                p Mauris at leo velit. Duis laoreet massa ut fermentum eleifend. Nam nec ante orci. Nunc auctor placerat erat sed euismod. Nam magna ligula, ultrices a magna eu, consequat tempor nulla. Quisque interdum lectus vel auctor dictum. Fusce nec lobortis nibh. Nulla luctus purus at diam tempor, et feugiat urna aliquet. 

                
    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Maecenas eleifend blandit feugiat. Nunc blandit pulvinar bibendum. Nam consectetur, tellus id elementum ornare, sem odio eleifend nisl, sed volutpat ex erat a ex.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Maecenas eleifend blandit feugiat. Nunc blandit pulvinar bibendum. Nam consectetur, tellus id elementum ornare, sem odio eleifend nisl, sed volutpat ex erat a ex.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Maecenas eleifend blandit feugiat. Nunc blandit pulvinar bibendum. Nam consectetur, tellus id elementum ornare, sem odio eleifend nisl, sed volutpat ex erat a ex.

